@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    margin-inline: 0;
    margin-top: 0;
    background-color: #202020;
    color: whitesmoke;
    display: inline-grid;
    position: relative;
    width: 100%;
    justify-items: end;
    background: #202020;
    padding: 0.4em;
}

.secretradio-btn {
    position: absolute;
    left: 1rem;
    top: -12px;
    background-image: url('radio.svg');
    background-color: black;
    width: 28px;
    height: 28px;
}
.secretradio-spt, .radiotext {
    position: absolute;
    left: 2.8rem;
    top: -12px;
    width: 22%;
    height: 28px;
}
.radiotext {
    text-align: left;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-left: 0.2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    font-family: "Share Tech Mono", monospace;
    white-space: nowrap;
    overflow: hidden;
}
.partial-blink {
    animation: blinking 1s steps(1, end) infinite;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
